#hilo-container{
    background-color: rgb(17, 137, 17);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top-container {
    justify-content: center;
    border-style: solid;
    display: flex;
    /* margin-left: 3rem;
    margin-right: 3rem; */
}

#score-area{
    border: solid;
    justify-content:center;
    flex-direction: column;
    padding: 25px;
    background: rgb(0, 0, 0);
}


#score-area p{
    color: rgb(4, 148, 19);
    font-size: large;
}

.hidden {
    display: none;
}

#logo-container{
margin-left: 6rem;
margin-right: 6rem;
}

#logo-container img{
    max-width: 15rem;;
}

#deck-container{
    border: solid;
    position: relative;
}

.card-image{
    max-width: 11rem;
}

#deck-img-container{
    border: solid;
    /* transform: rotate(90deg); */
    
}

#deck-container img{
    border-style: solid;
    
}

#deck-container button{
    position: absolute;
    bottom: 10px;
    left: 25%;
    border-style: solid;
}