.wrapper{
    /* border: solid 3px black; */
    background-color: rgb(17, 137, 17);
}

#back-button{
    color: black;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 20px;
}


button{
    
}

#hilo-container{
    max-width: 960px;
    margin-inline: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* border: solid */
}

#top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid */
}

#score-area{
    border: solid;
    justify-content:center;
    flex-direction: column;
    padding-top: 10px;
    background: rgb(0, 0, 0);
    max-height: 10rem;
    min-width: 13rem;
    border: solid 3px white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

#score-area h1{
    color: white;
    text-decoration: underline;
}

#score-area p{
    color: rgb(4, 148, 19);
    font-size: 50px;
    margin-top: 5px;
    animation-name: fadeIn;
    animation-duration: .5s;
}

@keyframes fadeIn{
    from{opacity: 0%;}
}

.hidden {
    display: none;
}

#logo-container{
    position: relative;
margin-left: 6rem;
margin-right: 6rem;
display: flex;
flex-direction: column;
align-items: center;
}

#logo-container img{
    max-width: 15rem;
}

#logo-container a{
    position: absolute;
    bottom: 20px;
    color: rgb(231, 231, 217);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgb(255, 0, 195), 0 0 1em blue, 0 0 0.2em blue;
}

#deck-container{
    /* border: solid; */
    position: relative;
}

.card-image{
    max-width: 11rem;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

#deck-img-container{
    border: solid;
    transform: rotate(90deg);
    padding: 10px;
    border: solid;
    border-color: rgb(210, 214, 83, .75);
    border-width: 5px;;
    border-radius: 20px;
}

#deck-container p{
    position: absolute;
    bottom: -4px;
    margin: 0px;
    left: 11%;
    padding: 5px;
    background-color: beige;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
}