#play-area {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* .selection-area {
    border-style: solid;
    margin-left: 2rem;
    min-width: 12rem;
    
} */

#currCard-container.unflipped {
    animation: slideLeft;
    animation-duration: .9s;
}

#currCard {
    padding: 10px;
    border: solid;
    border-color: rgb(210, 214, 83, .75);
    border-width: 5px;;
    border-radius: 20px;
    
}

@keyframes slideLeft {
    from{transform: translateX(240%);}
}


#guess-text{
    color: white;
    padding: 5px;
    opacity: 90%;;
}

#guess-area{
    color: white;
    max-width: 8rem;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#guess-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline:40px;
}

#guess-button-container button{
    color: white;
    font-size: large;
    min-width: 70px;
    min-height: 40px;
    border-radius: 5px;
    background-color: rgba(54, 128, 219, 0.75);
    border: solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 4px 3px 5px black;
}

#guess-button-container button:hover{
    background-color: rgba(54, 128, 219);
    box-shadow: (0, 0, 2, 2);
}


#newCard-container{
    text-align: center;
    position: relative;
    max-width: 11rem;
    padding: 10px;
    border: solid;
    border-color: rgb(210, 214, 83, .75);
    border-width: 5px;;
    border-radius: 20px;
    
    /* color: white; */
}

#new-card-outer{
    height: 100%;
    width: 100%;
}

#new-card-outer.flipped{
    animation: grow-card .6s;
}

@keyframes grow-card {
    50%{transform: scale(1.1,1.1);}
}

#new-card{
    height: 100%;
    width: 100%;
    min-width: 11rem;
    /* position: absolute; */
    /* transition: all transform 3s ease; */
    transform-style: preserve-3d;
}

#new-card.flipped{
    animation: flip-card .7s;
    animation-fill-mode: forwards;
    /* transform: rotateY(180deg); */
    
}

@keyframes flip-card{
    100%{transform: rotateY(180deg);}
}

#new-card.unflipped{
    animation: slideDown .9s;
    animation-fill-mode: forwards;
    /* transform: rotateY(180deg); */
    
}  

@keyframes slideDown{
    from{transform: translatey(-100%);}
}


#new-card-front{
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
}

#new-card-back{
    height: 100%;
    width: 100%;
    /* transform: rotateY(0deg); */
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


