body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

#nav-bar{
height: 40px;
color: white;
background: black;
display: flex;
justify-content: space-between;
}

.card-image{
  max-width: 12rem;
}

#deck-container {
  display: flex;
  justify-content: space-evenly;
  border-style: solid;
}

#score-area{
  display: flex;
  border: solid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  background: rgb(234, 226, 206);
}

#deck-container img{
  transform: rotate(90deg);
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

.selection-area {
  display: flex;
  border-style: solid;
  margin-left: 2rem;
  min-width: 12rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#currCard {
  margin-right: 2rem;
}

#currCard img {
  
}

#play-area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#newCard-container{
  position: relative;
  text-align: center;
  /* color: white; */
}

#newCard-text{
  position: absolute;
  top: 39%;
  left: 48%;
  background-color: green;
  color: white;
  padding: 5px;
  opacity: 90%;;
  
}

#hilo-container{
  background-color: rgb(17, 137, 17);
  min-height: 100vh;
}
